@import './reset';
@import './bulma@variables.scss';
@import './colors';
// Import buefy and bulma styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
// Import your other app styles
@import './app';

input[disabled] {
  color: rgb(88, 88, 88) !important;
}

.form-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @media screen and(min-width: 1500px) {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
